@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 300;
    color: black;
    
}

.banner{
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Aset/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.banner .content {
    height: 100%;
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: white;    
}

.banner .content p{
    font-size: 1em;
    color: white;
}

header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5s;
}

header nav.sticky {
    color: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

header nav.sticky .logo{
    color: black;
}

header nav .logo{
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header nav .logo span{
    color: #9fdaed;
}

header nav.navigation{
    position: relative;
    display: flex;
}
header nav .navigation li{
    list-style: none;
    margin-left: 30px;
    display: inline-block;
}

header nav .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
header nav.sticky .navigation li a{
    color: black;
}

header nav .navigation li a:hover{
    color: #9fdaed;
} 

article,aside {
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tittle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aktivitas .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.aktivitas .content .box{
    width:340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.5);
}

.aktivitas .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.aktivitas .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.aktivitas .content .box .text {
    padding: 15px 0 5px;
}

.aktivitas .content .box .text h3{
    font-size: bold;
    align-items: center;
    color: black;
}